.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 640px) {
  .page {
    gap: 34px;
  }
}

@media print {
  .page {
    display: flex;
    flex-direction: column;
    gap: 26px;
    min-height: 275mm;
  }

  .page:not(:last-child) {
    break-after: page;
  }
}
